* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F1F1F1;
}

.inventoryBody .inventoryList .eachInventory.hide {
    display: none;
}

.nav img {
    height: 45px;
}

.userLogOut {
text-decoration:none;

}

.userLogOut button h3 {
    margin-left:0px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px #757575;
    z-index: 1000; /* Ensure the navbar stays on top */
}

.middle {
    display: none;
}

.end {
    display: none;
}

.bi.bi-list {
    font-size: 45px;
}

.lapMiddle {
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #F1F1F1;
    padding-top: 50px;
    border:none;
}

.dashNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px; /* Added space between sidebar and content */
    border: none; /* For debugging */
    width: 380px;
    background-color: white;
    height:800px;
    border-radius:24px;
    border:none;
}

.profile {
    text-align: center;
    margin-top: 70px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative for absolute positioning */
}

.pic i {
    position: absolute;
    top: 70px;
    left: 110px;
    font-size: 35px;
    color: #49C01F;
}

.pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name .namee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.components {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 60px;
    border:none;
}

.components .comp,
.components .rmvComp {
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.components button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    border:none;
    background-color:white;
}

.components button:hover {
    background-color: #F1FCF3;
}

.components button i {
    font-size: 24px;
}

.components a h3 {
    margin-left: 10px;
    flex-grow: 1;
}

.comp {
    display: flex;
    height: 40px;
}

.comp h3 {
    margin-left: 5px;
}

.rmv {
    display: block;
}

.rmvComp {
    display: none;
}

.rmvComp h3 {
    margin-left: 5px;
}


.lapComp {
    display:flex;
    flex-direction:column;
}

.top {
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.top button {
    margin-right:20px;
}
.top button {
    border:none;
    text-decoration:underline;
    color:#49C01F;
    font-size:15px;
}
.top i {
    display:none;
}

.bottom {
    display:flex;
    justify-content:space-around;
    margin-top:25px;
}

.bottom .right {
    margin-left:66px;
}

.content {
    margin-bottom:30px;
}

.content p {
    font-size:12px;
}

.content h3 {
    font-size:15px;
}

.goBack button {
    color:black;
    text-decoration:none;
    display:none;
    font-size:20px;
    font-weight:700;
    border:none;
    padding-left:5%;
    margin-bottom:10px;
}
.personalInformation, .farmInformation,
.billingInformation {
    margin-top:30px;
    border:none;
    padding-top:20px;
    border-radius:24px;
    margin-left:3%;
    margin-right:3%;
    padding-left:2%;
    padding-right:2%;
    background-color: white;
}

.eachLine {
    display:flex;
    margin-bottom:10px;
}
.eachline h3 {
    margin-left:20px;
}

.Orders {
    display:flex;
    flex-direction:column;
    background-color: #F1F1F1;
    padding-left:5%;  
}

.Orders h1 {
    font-size:20px;
    font-family:'poppins';
    font-weight:500;
}

.Orders .search {
border:none;
width:350px;
border-radius:12px;
height:53px;

}
.search input {
    width:80%;
    height:40px;
    
    border-radius:5px;
    padding-left:5px;
    border:none;
    background-color: white;
}

.orderButton {
    display:flex;
    border:none;
    justify-content: space-between;
    align-items:center;
    margin-top:20px;
    margin-bottom:20px;
    border:none;
    width:80%;
}

.orderButton button, input {
    height:45px;
    width:100px;
    border-radius:5px;
    font-size:14px;
    font-weight:400;
    font-family:'poppins';
    border:none;
    background-color:#F1FCF3;
}
.orderButton button {
    margin-right:10px;
}
.orderButton button:hover {
    background-color: #49C01F;
}

.orderButton input {
    background-color:white;
}

.ordersList {
    overflow-x: auto; 
    white-space: nowrap; 
    
}

.orderListHead {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    width: 190%;
    border: none;
    height: 60px;
    background-color: #49b821;
    color: white;
    overflow-x: auto;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

.orderListHead div {
    border: none;
    max-width: 130px;
    width: 130px;
    box-sizing: border-box;
    white-space: normal; 
    overflow-wrap: break-word; 
}

.orderListHead p {
    text-align: center;
    margin: 0; 
    font-size:10.68px;
    font-weight:500;
    font-family:'poppins';
}

.eachOrderList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190%;
    border: none;
    height: 50px;
    background-color: white;
    color: black;
    border-bottom: #49C01F solid 2px;
    box-sizing: border-box;
}

.eachOrderList div {
    border: none;
    max-width: 130px;
    width: 130px;
    box-sizing: border-box;
    white-space: normal; 
    overflow-wrap: break-word; 
}

.eachOrderList p {
    text-align: center;
    margin: 0; 
    font-weight:400;
    font-size:10px;
}



.eachOrderList {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:190%;
    border:none;
    height:50px;
    background-color: white;
    color:black;
    border-bottom:#49C01F solid 2px;
}

.eachOrderList div {
    border:none;
    max-width:130px;
    width:130px;
    
    
}
.eachOrderList p {
    text-align: center;
}

::-webkit-scrollbar-thumb {
    color:green;
}


.orderNav {
    display:flex;
    border:none;
    justify-content: space-between;
    background-color: white;
    margin-top:20px;
    margin-right:5%;
}

.btnumbers {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border:none;
    width:200px;
    
}

.previous, .next {
    width:80px;
    font-size:14px;
    border:none;
    background-color:white;
    height:40px;
}

.btnumbers button {
    width:25px;
    border:none;
    background-color:white;
    height:30px;
}
.btnumbers button:hover {
    background-color:#49C01F;
}

.trackOrders {
padding-right:5%;
border:none;
}
.trackOrders input {
    width:80%;
    margin-top:10px;
    padding-left:5%;
    border-radius:16px;
}
.itemData a {
    color:#49b821;
    text-decoration: none;
}


.idTop {
    background-color:white;
    border-radius:16px;
    padding:5%;
    display:flex;
    align-items:center;
    margin-top:10px;
}
.idTop i {
    font-size:56px;
    background-color: #F1FCF3;
    margin-right:10px;
}
.idTop h6 {
    font-size:16px;
    font-weight:400;
    font-family:'poppins';
}

.idDetails p {
    font-size:12px;
    font-family:'poppins';
    font-weight:400;
}
.customerInformation {
    padding:5%;
    background-color:white;
    margin-top:20px;
    border-radius:16px;
}
.customerInformation h3 {
    font-size:16px;
    font-family:'poppins';
    font-weight:400;
}

.customerInfo {
    display:flex;
    margin-top:20px;
    justify-content: space-between;
}

.left {
    border:none;
    width:380px;
}

.eachCustomerInfo {
    margin-bottom:30px;
}

.eachCustomerInfo h6 {
    font-size:14px;
    font-weight:400;
    font-family:'poppins';

}
.eachCustomerInfo p {
    font-size:12px;
    font-weight:500;
    font-family:'poppins';
    color:#979797;
}

.orderSummary img{
width:91px;
height:74px;
border-radius:16px;
margin-right:10px;
}

.itemData p {
    font-family:'poppins';
    font-weight:400;
    font-size:16px;
}

.itemData h5 {
    font-family:'poppins';
    font-size:16px;
    font-weight:500;
}
.orderSummary h3 {
    font-family:'poppins';
    font-size:16px;
    font-weight:400;
}

.eachOrderItem {
    display:flex;
    align-items:center;
}

.eachOrderItem img {
    width:160px;
    height:120px;
}

.itemData p {
font-size:20px;
font-weight:400;
font-family:'poppins';
}

.itemData p {
    font-size:16px;
    font-weight:500;
    font-family:'poppins';
}

.eachSubDetails p {
    font-size:16px;
    font-weight:400;
    font-family:'poppins';
}
.orderDetails {
margin-top:20px;
}
.orderSummary {
    background-color:white;
    margin-top:20px;
    border-radius:16px;
    padding:5%;
}

.eachSubDetails {
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:5px;
}

.eachSubDetails p {
    font-family:'poppins';
    font-weight:400;
    font-size:14px;
}
.eachSubDetails h4 {
    font-size:16px;
    font-weight:500;
    font-family:'poppins';
}
.orderTracker {
    background-color:white;
    padding-right:0;
    margin-top:20px;
    padding:5%;
    border-radius:16px;
    overflow: auto;
    margin-right:0px;
    
}
.orderTracker h2 {
    margin-bottom:10px;
    font-size:16px;
    font-family:'poppins';
    font-weight:500;
}

.orderTracker p {
    font-size:14px;
    font-weight:400;
    font-family:'poppins';
}
.orderPath {
    display:flex;
    width:550px;
    margin-top:20px;

}
.eachPathDetails h2  {
    font-size:12px;
    font-weight:400;
    font-family:'poppins';
    padding-left:15px;
}

.eachPathDetails p {
    font-size:10px;
    font-weight:400;
    font-family:'poppins';
}
.eachPath {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.eachPath i {
    font-size:30px;
}

.eachPathDetails {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.inventory  {
    margin-left:5%;
    margin-right:5%;
}
.inventorySearch input {
    width:100%;
    padding-left:5%;
    border-radius:12px;
    background-color: white;
    font-size:15px;
}

.inventoryButtons{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:90%;
    margin-bottom:20px;
}

.inventoryButtons .first {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
   
    width:90%;
}

.inventoryButtons .second {
    border:none;
}

.first button{
    width:80px;
    height:50px;
    border-radius:12px;
    margin-top:10px;
    border:none;
    background-color: #F1FCF3;
}

.first button:hover {
    background-color: #1FC043;
    border:none;
    border-radius:12px;
}

.second button {
    margin-top:10px;
    width:120px;
    height:50px;
    background-color: #49C01F;
    border:none;
    border-radius:12px;
}

 .inventoryBody {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    border:none;
}

.inventoryHead{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
   border-bottom: 2px solid #49b821;
    width:200%;
    background-color:#F1FCF3;
    border:1px solid red;
}

.inventoryHead p {
    font-size:10px;
    font-family:'poppins';
}
.inventoryHead {
   
    height:70px;
    
}
.itemName {
    display:flex;
    align-items:center;
    height:90px;
    
}
.inventoryList {
    width:100%;
}
.eachInventory {
    display:flex;
    flex-direction:row;
    border-bottom: 2px solid #49b821;
    width:200%;
    align-items: center;
    border:1px solid red;
}

.headName, .itemName {
    border:none;
    width:250px;
    max-width:250px;
}
.inventoryHead p  {
    text-align: center;
    font-weight:900;
    
}


.eachInventory h3, .eachInventory h4{
    text-align: center;
    font-weight:400;
    font-size:10px;
    font-family:'poppins';
}

.itemName h3 {
    color:red;
    text-align: center;
    padding-left:40px
}

.headDate, .itemDate {
    border:none;
    width:150px;
}
.itemName img {
    height:36px;
    width:39px;
    border-radius: 20%;
    margin-right:10px;
}

.headPrice, .itemPrice {
    border:none;
    min-width:150px;
    margin-left:0;
}

.headQuantity, .itemQuantity {
    border:none;
    min-width:150px;
    margin-left:0;
}

.inventory h2 {
    font-size:20px;
    font-weight:600;
    font-family:'poppins';
}

.first button {
    font-size:14px;
    font-weight:400;
    font-family: 'poppins';
}

.inventoryAddItem {
    margin-left:5%;
    margin-right:5%;
}
.imageForm {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.imageForm input {
    height:130px;
    width:150px;
}

.imageForm p {
    font-size:14px;
    margin-left:10px;
}

.images {
    display:flex;
    max-width:130%;
    overflow-x: auto;
    margin-top:40px;
}
.images img {
    width:120px;
    margin-right:10px;
    border-radius:4%;
}

.eachform, .descriptionForm{
    width:100%;
    border:none;
    margin-top:20px;
}
.eachform input {
    width:100%;
    background-color:white;
    border-radius:24px;
    height:60px;
    padding-left:5%;
}

    

.descriptionForm input {
    width:100%;
    background-color:white;
    height:200px;
    margin-top:0;
    padding-top:0px;
    padding-left:5%;
}

.buttons {
    border:none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    margin-top:20px;
}

.buttons button {
    width:150px;
    height:50px;
}

.cancel button{
    border:1px solid #49C01F;
    border-radius:16px;
    color:#49C01F;
    font-family:'poppins'
}

.add Button {
    background-color:#49C01F;
    color:white;
    border:none;
    border-radius:16px;
}
.notifications {
    margin-left:5%;
    margin-top:10px;
}
.notifications input {
    width:90%;
    border-radius:24px;
    padding-left:4%;
    background-color:white;
    margin-right:5%;
}

.notificationsButton {
    display:flex;
    margin-top:10px;
}

.notificationsButton button {
    background-color:#F1FCF3;
    margin-right:5px;
    border-radius:10px;
    border:none;  
    width:84px;
    height:62px;
    font-weight: 600;
    font-family:"poppins";
}

.notificationsButton button:hover {
    background-color:#1FC043;
}

.notificationList {
    margin-top:15px;
}
.eachNotification {
    background-color:white;
    display:flex;
    align-items:center;
    margin-top:10px;
    margin-right:5%;
    padding:12px 20px 12px 20px;
    border-radius: 16px;;
}

.notificationImage img {
    height:50px;
    margin-right:5px;
}

.notificationBody h3 {
    font-size:14px;
    font-family:'poppins';
    font-weight:600;
}

.notificationBody p {
    font-size:12px;
    font-weight:400;
    font-family:'poppins';
}
.dataAndPrivacy {
    margin-left:5%;
}

.dataAndPrivacy h2 {
    margin-bottom:10px;
    font-size:20px;
    font-weight:600;
    font-family:'poppins';
}

.privacySetting h2 {
    font-size:16px;
    font-weight:500;
    font-family:'poppins';
}

.profileVisibility h4 {
    font-weight:400;
    font-family:'poppins';
    font-size:16px;
}
.dataAndPrivacy input {
    width:90%;
    background-color:white;
    border-radius:16px;
    padding-left:5%;
}
.privacySetting, .activityVisibility {
    margin-top:10px;
    margin-right:2%;
    display:flex;
    flex-direction:column;
    align-items: left;
}
.profileVisibility, .activityVisibility,.deleteData, .downloadData {
    background-color:white;
    margin-bottom:10px;
    border-radius:16px;
    margin-top:10px;
    padding-left:5%;
    margin-right:5%;
    height:136px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.profileVisibilityComponent, .activityVisibilityComponent, .downloadDataComponent, .deleteDataComponent  {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.profileVisibility i,  .activityVisibility i, .downloadData i, .deleteData i, .secondRow i  {
    margin-right:10px;
    font-size:24px;
    background-color: #F1FCF3;
    border:none;
}

.profileVisibilityComponent p, .activityVisibilityComponent p, .downloadDataComponent p, .deleteDataComponent{
    font-size:12px;
    font-family:'poppins';
    font-weight:400;
}


.profileVisibilityComponent button, .activityVisibility button, .downloadDataComponent button {

    width:109px;
    height:44px;
    background-color: #49C01F;
    color:white;
    border:none;
    font-family:'poppins';
    border-radius:16px;
}
.downloadDataComponent button i {
    font-size:25px;
    color:white;
    background-color: #1FC043;
}

.downloadDataComponent button{
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.downloadData, .deleteData{
    margin-top:15px;
}

.dataUsage h2 {
    margin-top:20px;
    font-family:'poppins';
}

.dataUsage p {
    margin-top:15px;
    margin-right:5%;
    background-color:white;
    border-radius:16px;
    padding:5%;
    font-size:12px;
    font-weight:400;
    font-family:'poppins';
    
}

.dataUsage a {
    color:#1FC043;
}
.contentPermission {
    margin-top:20px;
}
.marketPreferences, .cookiePreferences, .legalComponent {
    background-color: white;
    margin-top:10px;
    margin-right:5%;
    border-radius:16px;
    display:flex;
    flex-direction:column;
    padding:1%;
    justify-content: space-between;
}

.marketPreferences h4 , .cookiePreferences h4, .legalComponent h4{
font-size:16px;
font-weight:400;
font-family:'poppins';
margin-bottom:5%;
}

.marketPreferences p , .cookiePreferences p, .legalComponent a{
    font-size:12px;
    font-weight:400;
    font-family:'poppins';
    margin-bottom:5%;
    }
.secondRow {
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-left:5%;
}
.radios {
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-left:5%;
}
.legalComponent a {
    color:#1FC043;
}

.legalCompliance {
    margin-top:20px;
}


.setting {
    border:none;
    padding-left:5%;
    padding-right:5%;
}

.setting h2 {
    font-family:'poppins';
    font-size:28px;
    font-weight:600;
}

.setting input {
    width:80%;
    padding-left:5%;
    background-color:white;
    border-radius:16xpx;
    margin-bottom:10px;
    margin-top:10px;
}
.notificationSettings h3 {
    font-family:'poppins';
}
.emailNotifications, .pushNotifications, .smsNotifications {
    background-color:white;
    border-radius:16px;
    padding-left:5%;
    margin-bottom:20px;
    margin-top:10px;
    padding-top:10px;
}

.emailNotifications p, .pushNotifications p, .smsNotifications p {
font-size:12px;
font-family:'poppins';
font-weight:400;
}
.adsSetting h2 .rrecentActivities h2, .notificationSound h2, .language h2  {
    font-size:13px;
    font-family:'poppins';
    font-weight:600;
}

.adsSetting h2 {
    font-size:13px;
}

.rrecentActivities h2 {
    font-size:13px;
}
.setting p {
    font-family:'poppins';
}

.head {
display:flex;
align-items:center;
margin-top:10px;
}
.head i {
    margin-right:10px;
}

.body div {
    display:flex;
    align-items:center;
    justify-content: left;

}
.body input {
    width:20px;
}
.body input:checked {
    background-color:#1FC043;
}

.personalizedAds, .info, .personalizedAds, .recentActivities, .notificationComponent, .languageComponent {
background-color:white;
padding-left:5%;
padding-right:5%;
padding-bottom:3%;
border-radius:16px;
margin-top:10px;
padding-top:10px;
margin-bottom:10px;
}
.p {
    display:flex;
    align-items:center;
}
.p input{
width:30px;
margin-left:20px;
}

.info {
    display:flex;
    align-items:center;
    padding-left:0;

}

.info button {
    width:100px;
    height:40px;
    color:white;
    background-color:#49b821;
    border:none;
    border-radius:16px;
    margin-left:30px;
}
.rrecentActivities{
    margin-top:10px;
}
 
.notificationComponent {
    display:flex;
    align-items:center;
}
.notificationComponent i, .languageComponent i {
    font-size:20px;
    margin-right:10px;
    background-color: #F1FCF3;
}
.languageComponent {
    display:flex;
    align-items:center;
}

.languageComponent button {
    margin-left:40px;
    width:100px;
    height:40px;
    color:white;
    background-color:#49b821;
    border:none;
    border-radius:16px;
    margin-left:20px;
}


.mainhelpAndSupport {
    border:none;
    padding-left:5%;
    padding-right:5%;
    font-family:'poppins';
}
.mainhelpAndSupport input {
    width:80%;
    border-radius:16px;
    background-color:white;
    padding-left:5%;
}

.mainhelpAndSupport .buttons {
    width:60%;
    border:none;
    margin-bottom:20px;
}

.contactSupportButton button {
    width:120px;
    background-color: #F1FCF3;
    border:none;
  color:black;
  border-radius:16px;
}
.contactSupportButton button:hover {
    background-color: #49C01F;
}
.FAQButton button{
  width:80px;
  background-color: #F1FCF3;
  border:none;
  color:black;
  border-radius:16px;
}
.eachQuestion p {
    font-weight:600;

}
.eachQuestion button {
    border:none;
    background-color: transparent;
}
.FAQButton button:hover {
    background-color: #49C01F;
}

.helpCenter{
    display:flex;
    background-color:white;
    padding-left:5%;
    padding-right:5%;
    height:130px;
    border-radius:16px;
    margin-bottom:20px;
}
.helpTop, .contactTop {
    display:flex;
    align-items:center;
}
.helpTop i, .contactTop i, .contactInformation i, .first i {
    font-size:35px;
    margin-right:10px;
    background-color: #F1FCF3;

}
.helpTop h6, .contactTop h6 {
    font-size:18px;
}
.helpCenter {
display:flex;
flex-direction:column;
justify-content: space-around;
}

.helpLink a{
    color:#49b821;
}

.helpLink {
    display:flex;
}

.helpLink button {
    width:120px;
    height:40px;
    background-color:#1FC043;
    border:none;
    color:white;
    border-radius:16px;
}

.contactInformation {
    background-color:white;
    padding:5%;
}

.contactInformation div {
    display:flex;
    align-items:center;
    margin-bottom:10px;
}

.liveChat {
    padding:5%;
    background-color:white;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
}

.liveChat .first {
    display:flex;
    align-items:center;
}

.liveChat button {
    color:white;
}

.eachQuestion {
    background-color:white;
    padding:5%;
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.eachQuestion i {
    font-size:30px;
    color:#49b821;
    border:1px solid #49b821;
    margin-left:5px;
}

/*ANIMATION*/




.eachQuestionTop {
    display:flex;
    justify-content: space-between;
  
    width:100%;
}

.eachQuestionBottom {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease-in-out; 
    display: block; 
    padding: 0; 
}

.eachQuestionBottom p{
    font-weight:400;
    padding-top:10px;
}
.dashboard {
    border:1px solid red;
    padding-right:5%;
}

.dashboard  h2{
    font-size:20px;
    font-family:'poppins';
    font-weight:500;
    margin-left:20px;
}


.theDash {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.ddashboardTop, .dashBoardBottom {
    border:none;
    width:350px;
    height:112px;
    display:flex;
    justify-content: space-between;
    margin-left:20px; /*check*/
}

.dashBoardBottom {
    margin-top:10px;
}


.totalProduct, .totalOrders, .totalSales {
    padding:12px;
    border-radius:12px;
    width:165px;
    height:112px;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    background-color: #FFFFFF;
}

.rowOne {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.rowOne p {
    font-size:12px;
    font-weight:500;
    font-family:'poppins';
    color:#202224;
}

.rowOne i  {
    font-size:24px;
    color:#292D32;
}

.rowTwo p {
    font-family:'poppins';
    font-weight:600;
    font-size:16px;
    color:#202224;
}

.rowThree i{
font-size:24px;
color:#49C01F;
}

.rowThree p, .rowThree h6 {
    font-size:8px;
    font-weight:400;
    font-family:'poppins';
}

.rowThree {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.mainDash {
    background-color: #ffffff;
    width:350px;
    height:371px;
    border-radius:12px;
    padding:24px;
    margin-top:20px;
    margin-left:16px;
}
.mainDashTop {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.mainDashTop h2 {
    font-weight:500;
    font-size:16px;
    font-family:'poppins';
}

.mainDashTop button {
    width:107px;
    height:26px;
    padding:10px 20px 10px 20px;
    background-color: #49C01F;
    border:none;
}

.activityLog {
    margin-top:20px;
    background-color:#ffffff;
    width:350px;
    height:224px;
    border-radius:12px;
    margin-left:20px;
}

.activityLogTop {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:10px;
    border-radius:12px;
    padding:12px;
}

.activityLogTop a {
    color:#49C01F;
    text-decoration:none;
    font-family:'poppins';
    font-size:12px;
    font-weight:400;
}

.activityLogTop h2 {
    font-size:16px;
    font-weight:400;
    font-family:'poppins'
}

.eachActivityLog {
    display:flex;
    flex-direction: row;
    width:326px;
    height:52px;
    padding:8px 0 8px 0;
    padding-left:15px;
}

.eachActivityLog .activityLogo {
    font-size:24px;
    margin-right:10px;
}

.activityInfo {
    display:flex;
    flex-direction:column;
   
}
.activityInfo h4 {
    font-family:'poppins';
    font-size:12px;
    font-weight:400;
}

.activityInfo  p {
    font-size:8px;
    font-weight:400;
    font-family:'poppins';
}

.topSellingProduct {
    display:flex;
    flex-direction: column;
    width:350px;
    height:200px;
    border-radius:12px;
    padding:12px;
    background-color:#ffffff;
    margin-top:20px;
    margin-left:5%;
}

.topSellingProduct h2 {
    font-weight:400;
    font-size:16px;
    font-family:'poppins';
    margin-bottom:10px;
}

.products {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border:none;
    height:110px;
}
.topSellingProductContent {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height:110px;
    border:none;
}

.products .eachproduct {
    background-color: #F2F2F2;
    padding:4px 12px 4px 12px;
    border-radius:12px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;
    align-items:center;

    margin-right:10px;
    width:132px;
}

.products .eachproduct .color {
    background-color:#1FC043;
    height:10px;
    width:10px;
    margin-right:15px;
    border-radius:50%;
}

.topSellingProductContent .eachproduct {
    margin-left:120px;
    }
 .eachPercentage {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    height:110px;
    border:none;
}
.eachPercentage  div{
    margin-bottom:30px;
    margin-top:7px;
}

.recentSales {
    background-color:#ffffff;
    padding:4%;
    border-radius:12px;
    overflow-x: auto;
    margin-top:20px;
    margin-left:5%;
}

.recentSalesHead {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-color: #49C01F;
    width:450px;
    height:38px;
    margin-bottom:10px;
}

.recentSales .recentSalesTop {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    width:400px;
}

.eachRecentSalesBody {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:450px;
    margin-bottom:10px;
}

.recentSalesTop h2 {
    font-family:'poppins';
    font-weight:600;
    font-size:22px;
}

.recentSalesTop a {
    color:#49C01F;
}
.recentSalesHead p {
    font-family:'poppins';
    font-size:16px;
    font-weight:600;
}

.eachRecentSalesBody p {
    font-size:16px;
    font-weight:400;
    font-family:'poppins';
}

.edit {
    background-color:white;
    border:none;
}
.edit {
    display:none;
    flex-direction:column;
    justify-content: space-between;
    position:absolute;
    top:25%;
    left:15%;
    padding:2%;
    border-radius:5px;
    width:70%;

}
.edit input {
    width:80%;
    margin-left:10%;
}
.edit label {
    margin-left:10%;
}
.edit button {
    width:30%;
    margin-left: 35%;
    height:50px;
    margin-top:10px;
    border:none;
    font-family: 'poppins';
    border-radius:5px;
    background-color: #1FC043;
    color:white;
}

.menu button {
    border:none;
    background-color: transparent;
    
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: fixed;
        border-bottom: none;
    }

    .middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        width: 850px;
    }

    .menu {
        display: none;
    }

    .end {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 130px;
        border: none;
    }

    .lapMiddle {
        
        display: flex;
        flex-direction:row;
        justify-content: flex-start; /* Align children to start */
        background-color: #F1F1F1;
        padding-top: 100px;
        height: 1200px;
    }

    .dashNav {
       
        margin-left: 100px;
        margin-right:50px;
        width: 300px;
        height: 1080px;
        background-color: white;
    }

    .pic i {
        display: absolute;
        left: 90px;
        top: 70px;
    }

    .rmv {
        display: block;
        padding:0;
    }

    .lapComp {
        display: flex;
        width:800px;
        display:flex;
        flex-direction:column;
       
    }



 
 
    .goBack {
        display:none;
    }

  
    .personalInformation {
        margin-top:0px;
        padding-top:20px;
        border: none; 
        width:100%;    
        padding-left:0;
        margin-left:0;
        background-color:white;
        border-radius:24px;
        margin-bottom:40px;
    }


    .personalInformation h2 {
        padding-left:27px;
    }

    .personalInformation .top {
        display:flex;

    }

    .bottom {
        display:flex;
        
        padding-left:30px;
    }

     
    .top button {
        width:108px;
        height:45px;
        margin-right:50px;
        color:#49C01F;
        border:1px solid #49C01F;
        border-radius:16px;
    }

    .top h2 {
        font-family:Helvetica;
    }
    

    .top i {
        margin-left:5px;
    }

    .left {
        border:none;
        width:50%;
    }

    .content p {
        font-family:'poppins';
        font-size:14px;
        font-weight:100;
    }
    .content {
        margin-bottom:20px;
        margin-top:10px;
    }
    .content h3 {
        font-size:20px;
    }

    .content p {
        font-size:15px;
    }

    .farmInformation {
        padding-top:20px;
       
        margin-top:0;
        border: none; 
        width:100%;    
        padding-left:0;
        margin-left:0;
        
        height:350px;
        background-color:white;
        border-radius:24px;
    }

    .farmInformation h2 {
        padding-left:27px;
    }

    .farmInformation .top {
        display:flex;
        justify-content:space-between;
    }

    .eachLine {
        display:flex;
        margin-bottom:10px;
    }

    .eachLine i {
        margin-right:10px;
        
    }

    .billingInformation {
        padding-top:20px;
        
        margin-top:0;
        border: none; 
        width:100%;    
        padding-left:0;
        margin-left:0;
        height:250px;
        background-color:white;
        border-radius:24px;
        margin-top:40px;
    }

    .billingInformation h2 {
        padding-left:27px;
    }

    .billingInformation .top {
        display:flex;
        justify-content:space-between;
    }

    .Orders{
        margin-top:30px;
        width:120%;
        margin-left:0;
        padding-left:0;
        
    }

    .Orders h1 {
        font-size:28px;
        font-family:'poppins';
        font-weight:600;
    }
     
    .search input  {
     height:62px;
     width:500px;
     border-radius:16px;
     background-color: #ffffff;
     font-size:25px;
    }


    .orderButton button, input {
        width:150px;
        height:70px;
        border-radius:10px;
        font-size:15px;
        font-family:'poppins'
    }

    .orderListHead {
        width:90%;
    }

    .orderListHead p {
        font-size:16px;
        font-family:'poppins';
        font-weight:500;
    }

    .eachOrderList{
        width:90%;
    }

    .eachOrderList p  {
      font-size:16px;
      font-family:'poppins';
      font-weight:400;
    }

   .btnumbers {
    width:700px;
    
   }

   .btnumbers button {
    height:40px;
    width:40px;
    border-radius:5px;
    font-family: 'poppins';
   }

   .previous, .next {
    font-size:20px;
    width:190px;
    border:none;
    font-weight:700;
   }

   .orderNav {
    border:none;
    width:80%;
   }

   .orderPath {
    display:flex;
    width:900px;
    margin-top:20px;
    padding-right:10px;
 
   }
   .inventoryBody {
    width:auto;
    overflow: hidden;
   }
   .inventory {
    margin-top:30px;
    width:80%;
  
   }
   .inventoryList {
    width:120%;
}
  
   .inventoryButtons {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
    width:80%;
   }
   .inventoryButtons button {
    width:130px;
    height:70px;
    font-size:20px;
   }
   .inventoryButtons .second {
    margin-left:60px;
   }

   .inventoryButtons .first { 
    width:50%;
   }

   .first button {
    margin-right:20px;
   }
   .second button {
    width:160px;
    height:70px;
    font-size:20px;
   }
   .inventory {
    width:120%;
   }
   .inventory h2 {
    font-size:28px;
    margin-bottom:10px;
   }

   .inventorySearch {
    width:500px;
    height:52px;
    margin-bottom:30px;
   }
   .inventorySearch input {
    font-size:25px;
   }

   .inventoryHead, .eachInventory {
  width: 80%;
  justify-content: space-between;
   }

   .inventoryHead p {
    font-family:'poppins';
    font-size:20px;
   }

   .eachInventory h3, .eachInventory h4, .inventoryHead p {
    font-size:16px;
   }

   .inventoryButtons button {
    font-size:20px;
    width:121px;
    height:62px;
   }

   .inventoryHead p {
    font-size:16px;
   }
.inventoryAddItem {
    margin-left:5%;
}

.eachInventory img {
    width:59%;
    height:55px;
}

.images {
    width:3000px;
}

.inventoryGoBack{
   display:none;
}
   
.inventoryAddItem h2 {
    font-size:30px;
}

.imageForm p {
    font-size:25px;
    margin-left:10px;
}

.eachform label, .descriptionForm label {
    font-weight:600;
    font-family:'poppins';

}
.eachform input {
    width:100%;
    background-color:white;
    border-radius:24px;
    height:80px;
    padding-left:5%;
}

.buttons {
    padding-left:300px;
}
.buttons button {
    width:200px;
    font-size:16px;
}
.notifications h2 {
    font-size:40px;
    width:1200px;
}

.notifications input {
    height:60px;
     border-radius:10px;
     font-size:28px;
     width:80%;
}

.all button {
    width:71px;
    height:62px;
    
}

.new button{
    width:92px;
    height:62px;
}

.unread button {
    width:122px;
    height:62px;
}

.eachNotification {
    width:828px;
    height:96px;
}

.dataAndPrivacy {
    border:none;
    width:100%;
}
.dataAndPrivacy h2{
font-size:28px;
font-family:'poppins';
font-weight:600;
}
.dataAndPrivacy input{
    font-size:25px;
    width:70%;
    height:55px;
}

.profileVisibilityComponent {
    display:flex;
    justify-content: start;
}
.activityVisibilityComponent {
    display:flex;
    justify-content: start;
    
}

.profileVisibilityComponent button{
    margin-left:440px;
}
.activityVisibilityComponent button {
    margin-left:10px;
}

.profileVisibility h4, .activityVisibility h4, .downloadData h4, .deleteData h4, .marketPreferences h4, .cookiePreferences h4, .legalComponent h4{
    font-size:16px;
    font-weight:600;
    font-family:'poppins';
}
.marketPreferences h4, .cookiePreferences h4, .legalComponent h4 {
    padding-left: 5%;
    margin-bottom:2%;
}
.legalComponent a {
padding-left:5%;
}
.profileVisibility p, .activityVisibility p, .downloadDataComponent p, .deleteDataComponent p, .dataUsage p, .marketPreferences p, .cookiePreferences p   {
    font-size:16px;
    font-weight:400;
    font-family:'poppins';
}
.dataUsage  {
    margin:0;
    padding:0;
}

.dataUsage h2, .dataUsage p {
    margin:0;
    padding:2%;
}

.downloadDataComponent {
    display:flex;
    justify-content:start;
    margin-right:12px;
}

.privacySetting h2{
font-size:16px;
}
.downloadDataComponent button {
    margin-left:100px;
}
.deleteDataComponent {
    display:flex;
    justify-content: start;
}

.setting {
    width:100%;
}

.setting h2, .adsSetting h2, .recentActivities h2, .notifactionSound h2, .language h2 {
    font-size:25px;
}

.setting input {
    font-size:28px;
}

.setting h3 {
    font-size:20px;
}
.setting p {
    font-size:20px;
}

.setting i {
    font-size:30px;
}

.setting button {
    width:170px;
    height:50px;
}
.languageComponent button {
    margin-left:300px;
}
.mainhelpAndSupport{
    border:none;
    width:100%;
}
.mainhelpAndSupport h2{
font-size:35px;
}
.mainhelpAndSupport input {
    font-size:20px;
}
.buttons {
    padding-left:0;
    margin-right:0;
}
.mainhelpAndSupport h6 {
    font-size:22px;
}
.mainhelpAndSupport .buttons {
    display:flex;
    justify-content: left;
}
.contactSupportButton button {
    width:150px;
    margin-right:20px;
}
.FAQButton button {
    width:90px;
}
.mainhelpAndSupport h3, h5 {
    font-size:25px;
} 

.mainhelpAndSupport p {
    font-size:20px;
}
.helpLink {
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.helpLink button {
    width:130px;
    height:50px;
}

.trackOrders {
    width:80%;
}

.trackOrders i{
font-size:40px;
}
.trackOrders h6 {
    font-size:25px;
}
.trackOrders h3{
    font-size:30px;
}
.trackOrders p {
    font-size:20px;
}

.dashboard {
    border:none;
}

.totalProduct,  .totalOrders,  .totalSales {
width:230px;
}

.ddashboard {
    display:flex;
    align-items:center;
    justify-content: space-between;
    border:none;
}

.ddashboardTop {
width:80%;
}

.dashBoardBottom {
   justify-content: right;
   align-items: center;
   margin-top:0;
}

.rowOne p {
    font-size:16px;

}
.rowOne i {
    font-size:32px;
}

.rowTwo {
    font-size:28px;
}

.rowThree i {
    font-size:25px;
    margin-right:10px;
}

.rowThree h6, .rowThree p{
    font-size:12px;
}
.rowThree {
    display:flex;
    justify-content: start;
}

.rowThreeBottom {
    display:flex;
}

.rowThreeBottom h6{
    margin-right:5px;
    color:#1FC043;
}

.mainDash {
    width:828px;
    height:444px;
}

.mainDashTop {
    display:flex;
    justify-content: space-between;
    border:none;
}

.mainDashTop button {
    width:149px;
    height:44px;
    border-radius:16px;
}

.mainDashTop h2 {
    font-size:24px;
}

.actTop {
    display:flex;
}

.actTop h2{
font-size:22px;
font-weight:600;
}
.actTop a {
    font-size:16px;
}

.eachActivityLog {
    margin-top:2px;
    padding-top:0;
    padding-bottom:0;
}
.activityLog, .topSellingProduct {
    width:400px;
    height:230px;
}
.eachActivityLog h4 {
    font-size:14px;
}
.topSellingProduct {
    display:flex;
    flex-direction:column;
}

.topSellingProduct  .topSellingProductHead {
    margin-bottom:20px;
}

.topSellingProductContent .eachproduct {
margin-left:180px;
margin-bottom:20px;
}
.eachPercentage  div{
    margin-bottom:0;
    margin-top:0;
}


.recentSalesHead, .eachRecentSalesBody {
width:750px;
}

.idDetails h6{
font-size:16px;
font-weight:400;
font-family:'poppins';
}
.idDetails p {
    font-size:13px;
}

.customerInformation h3 {
    font-size:28px;
    font-family:'poppins';
    font-weight:500
}

.eachCustomerInfo p {
    font-weight:500;
    font-size:14px;
    font-family:'poppins';
}

.eachCustomerInfo h6 {
    font-size:20px;
    font-weight:400;
    font-family:'poppins';
}

.orderSummary h3 {
font-size:28px;
font-weight:500;
font-family:'poppins';
}

.edit {
    display:none;
    flex-direction:column;
    justify-content: space-between;
    position:absolute;
    top:25%;
    left:25%;
    width:50%;

}
}
