body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../../img/farmer/agrihub bg.png");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.left img {
    width: 120px;
}

.left {
    margin-top: 20px;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.left h1 {
    color: white;
    font-size: 20px;
}

.right {
    width: 100%;
    background-color: white;
    padding: 30px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.right h1 {
    font-size: 26px;
    text-align: center;
}

.right h3 {
    font-weight: 50;
    text-align: center;
    font-size: 18px;
}


.identity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.identity .nin {
    border: none;
    display: flex;
    align-items: center;
    width: 270px;
    background-color: #EBFFEE;
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
}



.identity .utility {
    border: none;
    display: flex;
    align-items: center;
   
    width: 270px;
    background-color: #EBFFEE;
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.identity .id {
    border: none;
    display: flex;
    align-items: center;
   
    width: 270px;
    background-color: #EBFFEE;
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.selfie {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    background-color: #EBFFEE;
    border-radius: 16px;
    margin-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 70px;
    justify-content: space-between;
    margin-top: 40px;
    margin-left:100px;
}

.contd {
    background-color: #49C01F;
    width: 150px;
    text-align: center;
    height: 50px;
    border: none;
    border-radius: 16px;
    color: white;
    margin-bottom: 20px;
}

.back {
    border: 1px solid #49C01F;
    width: 150px;
    background-color: white;
    text-align: center;
    height: 50px;
    border-radius: 16px;
    color: black;
}

/* Tablet View */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .left img {
        width: 150px;
    }

    .left h1 {
        font-size: 24px;
    }

    .right h1 {
        font-size: 28px;
    }

    .right h3 {
        font-size: 20px;
    }

    .identity .nin,
    .identity .utility,
    .identity .id,
    .selfie {
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
        display:flex;
        justify-content: start;
    }

    .buttons {
        width: 150px;
        border:2px solid red;
      
    }

    .contd,
    .back {
        width: 180px;
    }
}

/* Laptop View */
@media screen and (min-width: 1025px) {
    body {
        flex-direction: row;
    }
    .left {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 80px;
        padding-left: 80px;
        
      }
    
      .left img {
        margin-left: 0;
        text-align: left;
        display: inline-block;
      }
    
      .left h1 {
        font-size: 60px;
        margin-left: 0px;
        padding-left: 0px;
        text-align: left;
      }
    .right {
        width: 60%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height:1100px;
    }

    .right h1 {
        font-size: 32px;
    }

    .right h3 {
        font-size: 24px;
    }

    .identity {
        height: 300px;
    }

    .identity .nin,
    .identity .utility,
    .identity .id,
    .selfie {
        width: 90%;
        padding-left: 30px;
        padding-right: 30px;
    }

    input[type="checkbox"]:checked  {
       background-color: black;
    }

    .buttons {
    width:600px;
    display:flex;
   
    }

    .contd {
        width:100%;
        height:60px;
        font-size:20px;
    }

     .back {
        width:100%;
        height:60px;
        font-size:20px;
     }

}