:root {
    --primary-color: #49C01F;
    --secondary-color: #1FC043;
    --text-color: #131313;
    --bg-color: #F1FCF3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

body {
    font-family: 'Poppins', 'SF Pro Display', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}


.search input {
    padding: 5%;
    margin: 5%;
    border-radius: 16px;
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
    height: 30px;
    background-color: #EBFFEE;
    border: none;
}

input:hover {
    border: none;
}

.content {
    margin-bottom: 7px;
}
.topPost {
    display:flex;
    flex-direction: column-reverse;
}

.topPost .left {
    padding: 3%;
    background-color: #EBFFEE;
    margin: 5%;
    border-radius: 24px;

}

.topPost h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.first h4 {
    font-size: 14px;
    font-weight: 200;
    color:#131313;
}

.secondd {
    height: 10px;
    width: 10px;
    background-color: #B0B0B0;
    border-radius: 5px;
}

.second {
    color: #B0B0B0;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.second div {
    margin-left: 3px;
}

.rightt {
    background-image: url(FBH-12.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
    font-family: 'Poppins';
    height: 300px;
    color: white;
    border-radius: 24px;
}

.right h6 {
    padding-top: 140px;
}

.right h5 {
    font-size: 15px;
}

.right p {
    font-size: 12px;
}

.recentPost {
    background-color: #F1F1F1;
    margin-top: 10px;
    width: 100%;
    padding: 4%;
    padding-bottom: 0;
}

.eachrecentPost {
    margin-top: 30px;
    font-family: 'Poppins';
    padding-bottom: 5%;
    margin-left:7%;
}

.eachrecentPost img {
    width: 100%;
    height: 150px;
    background-size: contain;

    background-position: center;
    border-radius: 24px;
}

.eachrecentPost h1 {
    font-size: 16px;
    font-weight: 600;
}

.eachrecentPost p {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}

.smallP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #B0B0B0;
}

.circle {
    background-color: #B0B0B0;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.content .second {
    display:flex;
    align-items:center;
}

.cafCommunity {
    background-color: #49C01F;
    font-family: 'Poppins';
    width: 100%;
    padding: 5%;
    border-radius:20px;
}

.cafCommunity .left {
    background-color: transparent;
    color: white;
}

.cafCommunity .left h2 {
    margin-bottom: 20px;
}

.cafCommunity button {
    border: white 1px solid;
    margin-top: 20px;
}

.cafCommunity .right img {
    width: 90%;
    border-radius: 23px;
    background-image: none;
    margin-top:20px;
}

@media (min-width: 768px) {

    .search input {
        width:30%;
        height:60px;
        padding:2%;
        margin-bottom:0;
    }
    
    .topPost {
        padding:0;
        margin:0;
        display:flex;
        justify-content:start;
        flex-direction:row;
        
    }

     .down {
        margin:0;
        padding:0;
        display:flex;
        flex-direction:column;
    }

    .topPost .content {
        margin:0;
        padding:0;

    }
    .topPost .left {
        height:auto;
        width:42%;
        display:flex;
        flex-direction:column;
        
    }
    .left h3 {
        font-size:28px;
        font-weight:500;
        margin-bottom:10px;
    }
    .content h4 {
        font-size:20px;
        font-weight:400;
    }
    .second {
        font-size:14px;
    }

    .rightt {
     height:550px;
     margin-left:0;
    }
    .rightt h6 {
    padding-top:40%;
    font-size:17px;
    font-weight:400;
    }

    .rightt h5 {
        font-size:22px;
        font-weight:500;
        font-size:26px;
    }

    .rightt p {
        font-size:20px;
    }

    .recentPost {
        margin:0;
        padding:0;
    }

    .recentPost h3 {
        font-size:38px;
        margin-left:30px;
    }
    .rowOne, .rowTwo {
        display:flex;
        justify-content: space-around;
    }

    .eachrecentPost{
        
        display:flex;
        width:30%;
        flex-direction:column;
        padding:2%;
        margin:0;
    }

    .eachrecentPost img {
        width:100%;
        padding:0;
        margin:0;
        height:260px;
        background-size:contain;
        background-position: center;
       
    }

    .cafCommunity {
        margin-left:5%;
        margin-right:5%;
        margin-top:25px;
        margin-bottom:25px;
        width:90%;
        height:auto;
        display:flex;
        justify-content: left;
    }

    .cafCommunity img {
        width:100%;
        height:auto;
        margin-top:20px;
    }
}